<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="shortcut icon" type="image/jpg" href="https://m.media-amazon.com/images/I/41XZAX8ffsL._AC_.jpg"/>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
<form action="{{url_for('form_search', table=table)}}" method="post">
    <label for="season">Season: </label>
    <input type="number" name="season" id="season" min="1" max="13">
    {% if table == "episodes" %}
        <p><label for="after">Aired after: </label>
            <input type="date" name="after" id="after"></p>
        <p><label for="before">Aired before: </label>
            <input type="date" name="before" id="before"></p>
    {% elif table == "contestants" %}
        <p><label for="name">Name: </label>
            <input type="text" name="name" id="name"></p>
        <p><label for="outcome">Outcome: </label>
            <input type="text" name="outcome" id="outcome"></p>
        <p><label for="min_age">Minimum age: </label>
            <input type="number" name="min_age" id="min_age" min="0"></p>
        <p><label for="max_age">Maximum age: </label>
            <input type="number" name="max_age" id="max_age" min="0"></p>
    {% endif %}
    <input type="submit" value="Search">
  </div>
</form>
</body>
</html>
